body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.GameScreen {
    position: relative;
    margin: 10px auto;
    padding: 0;
    height: 640px;
    width: 800px;
    background-color: black;
    border-top: 10px lightblue solid;
    border-left:10px lightblue solid;
    border-right:10px lightblue solid;
    flex-wrap: wrap;
}
.Ball {
   
    position: absolute;
    width: 45px;
    height: 32px;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    
}
.paddle {

    position: absolute;
    width: 200px; /* Adjust width */
    height: 30px;
    bottom: 3px;
    left: 50%; /* Start in the middle */
    transform: translateX(-50%)
}
.Bricks {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brick {
    
    width: 100px;
    height: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Brick shadow */
    margin: 5px;
    
}
.brick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.break {
    opacity: 0;
}
.score {
    position: absolute;
    padding: 12px;
    bottom: 300px ;
    opacity: 0.8;
    
    
}
.score img {
    width: 40%;
    height: 90%;
    object-fit: cover;
    
}
.score p{
    color: gold;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 23px ;
}
